# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Node (only for the generator script)
node_modules/

# Temp
*.tmp
*.bak

# Local Netlify folder
.netlify
